		{% load static %}
		<!-- Back to top -->
		<a href="#top" id="back-to-top"><span class="feather feather-chevrons-up"></span></a>

		<!-- Jquery js-->
		<script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>

		<!--Moment js-->
		<script src="{% static 'site/plugins/moment/moment.js' %}"></script>

		<!-- P-scroll js-->
		<script src="{% static 'site/plugins/p-scrollbar/p-scrollbar.js' %}"></script>

		<!-- Select2 js -->
		<script src="{% static 'site/plugins/select2/select2.full.min.js' %}"></script>

		<!--INTERNAL wowmaster js -->
		<script src="{% static 'site/script/wow.js' %}"></script>

		<!--INTERNAL Sticky js -->
		<script src="{% static 'site/script/sticky2.js' %}"></script>

		<!-- Custom js-->
		<script src="{% static 'site/script/custom.js' %}"></script>
